caption {
    font-size: 200%;
    padding-bottom: 5pt;
    text-align: center;
}

.container {
    margin: 30px;
}

.teacher {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.lesson {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
}

table {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left:auto; 
    margin-right:auto;
}

tr, td, th {
    text-align: center;
}
/* 
.col-6 {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left:auto; 
    margin-right:auto;
}

iframe {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left:auto; 
    margin-right:auto;
} */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    }
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0px;left: 0px; 
    width: 30%; 
    height: 30%;
    text-align: center;
    }